<div class="container-fluid header-container">
   
    <!-- TODO: to bedzie navbar z laliga itp -->
    <nav class="navbar navbar-expand-lg navbar-light ">
        <h3 class="page-header navbar-brand">Live score App</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">
                  <img src="./assets/laliga.png" width="40px" height="40px" class="mb-1 mr-1"  alt="" srcset="">
                 <span>La Liga</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="./assets/premierleague.png" width="50px" height="40px" class="mb-1 mr-1"  alt="" srcset="">
                   <span>Premier League</span>
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="./assets/seriea.png" width="40px" height="40px" class="mb-1 mr-1"  alt="" srcset="">
                   <span>Serie A</span>
                  </a>
              </li>
          </ul>
        </div>
    </nav>
</div>

<!-- TODO: tu bedzie juz widok meczy w postaci listy itemow -->