/* You can add global styles to this file, and also import other style files */
/* html, body {
    background-color: #f1f1f1;
} */

.header-container {
    display: flex;
}

.navbar {
    width: 100%;
    border-bottom: 1px solid #dee2e6;
}

.navbar-nav {
    text-align: center !important;
    margin: 0 auto;
}

.nav-item {
    padding: 0 50px;
    font-size: 16px;
    font-weight: bold;
    border-right: 1px solid #6a994e;
}
.nav-item:last-child {
    border-right: none;
}

.navbar a {
    padding-bottom: 12px;
    color: #333333 !important;
    
}
  
.navbar a:hover {
    border-bottom: 3px solid #6a994e;
    padding-bottom: 9px;
}
